# Don’t commit the following directories created by pub.
.dart_tool/
build/
.packages
# used for travis (might be created during test/development)
_install

## Directory-based project format:
.idea/



